.appContainer {
  background-color: #e9cab5;
  font-size: 16px;
  cursor: default;
  margin: 15px;
}

.viewButtons {
  text-align: right;
}

ul {
  list-style-type: none;
}

li {
  font-size: 1.12em;
}

h1 {
  color: #8DB580;
  text-align: center;
  font-size: 4em;
  font-family: 'Pacifico', cursive;
  margin-top: 0;
}

h2 {
  color: #8DB580;
  font-size: 2.5em;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0;
}

h3 {
  color: #8DB580;
  font-size: 1.50em;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0;
  margin-top: 6vh;
}

h4 {
  font-size: 1.20em;
  font-family: sans-serif;
}

.colorRing {
  display: flex;
  justify-content: center;
  align-content: center;
}

.intro, .result {
  font-size: 1.12em;
}

.selected {
  background-color: #8DB580;
}

button {
  font-family: sans-serif;
  color: #4B4A67;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 600;
  background-color: #e6d2c6;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 2px 2px 5px 2px #be9679 ;
}

button:hover {
  background-color: #C2CFB2;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:active{
  box-shadow: inset 2px 2px 5px 2px #be9679 ;
}

button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.answersContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.answerBtn {
  margin-bottom: 20px;
  margin-right: 20px;
}

.viewButtons {
  margin-left: 50px;
}

.oldUserButton, .newUserButton{
  margin-right: 15px;
}

.submitBtn {
  text-align: center;
  font-size: 1.25em;
}

.existingUserLoginPage {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loginForm {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 6vh 0px;
  padding: 40px 40px;
  border-radius: 15px;
  background-color: #c28254;
  box-shadow: 2px 2px 5px 2px #634026 ;
}

.loginBtn {
  margin: 20px 0px 5px 0px;
  width: fit-content;
  align-self: center;
  box-shadow: 2px 2px 5px 2px #634026;
}

.loginBtn:hover {
  background-color: #634026;
  color: #e6d2c6;
}

.loginBtn:active{
  box-shadow: inset 2px 2px 5px 2px #291b10 ;
}

.userID, .userPW {
  line-height: 2;
  border-radius: 2px;
  margin: 10px 0px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #4B4A67;
    background-color: #DDD1C7;
    margin-left: 50px;
  }
  button {
    background-color: #f9f9f9;
  }
}
